
  .main {
    opacity: 0.6;
  }

  .icon {
    cursor: pointer;
}


.link {
    color: var(--black);
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

//large
@media screen and (min-width: 1025px){
.main {
    display: grid;
    grid-template-areas: 
    "rights icons policies";
}

#policies {
    width: 90%;
    justify-content: space-around !important;
}

}

#rights {
    grid-area: rights;
}

#icons {
    grid-area: icons;
}


#policies {
    grid-area: policies;
}

//mid
@media screen and (min-width:768px) and ( max-width: 1025px){
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "policies icons"
        "rights icons";
        align-items: flex-start !important;
    }

    #icons {
        flex-direction: column !important;  
        margin-left: 45%;
    }

    .icons-block {
        padding-top: 1rem;
    }

    #policies {
        margin-right: 15%;
    }
    .policy {
        margin: auto;
    }
}

//small
@media screen and (max-width: 767px){
    .main {
        display: grid;
        grid-template-areas: 
        "policies"
        "icons"
        "rights" !important
        ;
    }

    #policies {
        width: 100%;
        margin: 0rem -.7rem;
        justify-content: space-around !important;
    }

  
    #rights {
        text-align: center;
    }

}

  