<div class="main container">
    <div id="rights" class=" pt-3">
        <p>Copyright © 2020 StudentGator All rights reserved.</p>
    </div>

    <div id="icons" class="d-flex justify-content-around pt-3">
        <div>
            <span>Follow Us</span>
        </div>
        <div class="d-inline-block icons-block">
            <img class="icon mr-3" src="assets/images/icons/icon-awesome-facebook-square.svg">
            <img class="icon mr-3" src="assets/images/icons/icon-ionic-logo-instagram.svg">
            <img class="icon mr-3" src="assets/images/icons/icon-awesome-linkedin.svg">
            <img class="icon mr-3" src="assets/images/icons/icon-awesome-twitter-square.svg">
            <img class="icon mr-3" src="assets/images/icons/icon-awesome-discord.svg">
        </div>
    </div>

    <div id="policies" class="d-flex justify-content-between pt-3">
        <a routerLink="/" class="link">Terms & conditions</a>
        <a routerLink="/" class="link policy">Privacy policy</a>
    </div>
</div>