
.wrapper {
    background-image: url("../assets/images/group1.svg"), url("../assets/images/group2.svg");
    background-position: 139% 96%, -27% 5%;
    background-repeat: no-repeat;
.content {
    margin: auto;
}
}

@media screen and (max-width: 1024px) {
    .wrapper {
    background-image: none !important;
    }
}
