
<div class="wrapper">
    <div class="row">
        <div class="filter col-lg-4 col-12 mb-3">
            <mat-card class="first-card">
                <mat-card-content>
                    <div class="form-group">
                        <form  #filterForm="ngForm">   
                                                        
                            <label>City</label>    
                            <select  
                               [(ngModel)]="selectedCity"
                               (ngModelChange)="addCity()"
                               class="form-control" 
                               name="filterCity" 
                               #filterCity="ngModel" 
                               [disabled]="availableCities.length < 1">
                               <option [ngValue]="null" [disabled]="true" >Choose one city or more</option>
                                <option *ngFor="let city of availableCities" [ngValue]="city">
                                    {{ city }}
                                </option>
                            </select>
                        <mat-chip-list >
                            <mat-chip class="mr-2 mt-3" *ngFor="let city of cityChipList" [selectable]="selectable"
                            [removable]="removable" (removed)="removeCity(city)">
                            {{city}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>


                        <label id="program-radio-group-label" class="d-block">Program</label>
                            <mat-radio-group
                            class="radio-group row"
                            name="program" 
                            #program="ngModel" 
                            [(ngModel)]="selectedProgram"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <mat-radio-button value="Bachelor" checked=true class="col-lg-12 col-md-3 col-4">
                                <span class="opc">Bachelor</span>
                            </mat-radio-button>
                            <mat-radio-button  value="Master"  class="col-lg-12 col-md-3 col-4">
                                <span class="opc"> Master </span>
                            </mat-radio-button>
                            <mat-radio-button  value="MBA"  class="col-lg-12 col-md-3 col-4">
                                <span class="opc">MBA</span>
                            </mat-radio-button>
                            <mat-radio-button value="BHD"  class="col-lg-12 col-md-3 col-4">
                                <span class="opc"> BHD </span>
                            </mat-radio-button>
                            </mat-radio-group>
                                   
                            

                            <label>Field</label>    
                            <select  
                               [(ngModel)]="selectedField"
                               (ngModelChange)="addField()"
                               class="form-control" 
                               name="filterField" 
                               #filterField="ngModel" 
                               [disabled]="availableFields.length < 1">
                               <option [ngValue]="null" [disabled]="true" >Choose one field or more</option>
                                <option *ngFor="let field of availableFields" [ngValue]="field">
                                    {{ field }}
                                </option>
                            </select>
                            <mat-chip-list >
                                <mat-chip class="mr-2 mt-3" *ngFor="let field of fieldChipList" [selectable]="selectable"
                                [removable]="removable" (removed)="removeField(field)">
                                {{field}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>


                            <label>School</label>    
                            <select  
                               [(ngModel)]="selectedSchool"
                               (ngModelChange)="addSchool()"
                               class="form-control" 
                               name="filterSchool" 
                               #filterSchool="ngModel" 
                               [disabled]="availableSchools.length < 1">
                               <option [ngValue]="null" [disabled]="true" >Choose one school or more</option>
                                <option *ngFor="let school of availableSchools" [ngValue]="school">
                                    {{ school }}
                                </option>
                            </select>
                            <mat-chip-list >
                                <mat-chip class="mr-2 mt-3" *ngFor="let school of schoolChipList" [selectable]="selectable"
                                [removable]="removable" (removed)="removeSchool(school)">
                                {{school}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>



                            <label id="program-radio-group-label" class="d-block">Language</label>
                            <mat-radio-group
                            name="language" 
                            #language="ngModel" 
                            class="radio-group row"
                            [(ngModel)]="selectedLanguage"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <mat-radio-button value="All" checked=true class="col-lg-12 col-md-3 col-4">
                               <span class="opc">All</span>
                            </mat-radio-button>
                            <mat-radio-button  value="English"  class="col-lg-12 col-md-3 col-4 ">
                                <span class="opc">English</span>
                            </mat-radio-button>
                            <mat-radio-button  value="French"  class="col-lg-12 col-md-3 col-4">
                                <span class="opc"> French</span>
                            </mat-radio-button>
                            </mat-radio-group>

                            <label id="program-radio-group-label" class="d-block">Sort</label>
                            <mat-radio-group
                            sort="language" 
                            #sort="ngModel"
                            class="radio-group row"
                            [(ngModel)]="selectedSortType"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <mat-radio-button value="Ascen" class="col-lg-12 col-md-6 col-12">
                                <span class="opc">Price: low to high</span>
                            </mat-radio-button>
                            <mat-radio-button  value="Dscen"  class="col-lg-12 col-md-6 col-12">
                                <span class="opc">Price: high to low</span>
                            </mat-radio-button>
                            </mat-radio-group>


                            <button class="btn primary mt-3" type="button" (click)="getPrograms()" >Filter</button>
                        </form>
                    </div>
                </mat-card-content>
              </mat-card>
        </div>
    


    <div class="list col-lg-8 col-12">

        <mat-card class="second-card " *ngIf="programs.length < 1">
            <mat-card-content >
                <div class="content d-inline-block col-md-7 col-12">
                   <h1>No Programs Exist</h1>
                </div>
    
            </mat-card-content>
          </mat-card>

      <mat-card class="second-card" *ngFor="let program of programs">
        <mat-card-content class="row">
            <div class="image col-md-2">
                <img [src]="program.image"
                onerror="this.src='assets/images/ESAIP.png'" alt="program" 
                >
            </div>

            <div class="content d-inline-block col-md-7 col-12">
               <h2 class="my-0">{{program.Name}}</h2>
               <p>{{program.school}} School of {{program.type}}</p>
               <p>TUITION FEE &nbsp; <span class="blue-text">{{program.fee}} $ per year</span>&nbsp; &nbsp; &nbsp;<span class="blue-text">{{program.city}}</span></p>
            </div>

            <div class="btn-section d-md-inline-block col-md-3 col-12">
                <button class="btn primary more-info" type="button" >More Info</button>
            </div>
        </mat-card-content>
      </mat-card>
    </div>

    </div>

    </div>
    