
::ng-deep .mat-card-header-text {
    margin: 0px 0px !important;
 }

 ::ng-deep .mat-card {
    box-shadow: 0px 0px 8px #00000029 !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important; /*click effect color change*/
    border-color: var(--secondary) !important;  
}
    

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #BEBEBE !important;
}

::ng-deep .mat-standard-chip {
    border-radius: 2px !important;
}

::ng-deep .mat-chip.mat-standard-chip {
    background: #F3F6FF 0% 0% no-repeat padding-box;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple 
.mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--secondary) !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(66, 134, 244,.26) !important;
    color: #828282 !important;
  }

.wrapper {
    label {
        opacity: 0.6;
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 1.1rem!important;
        margin-top: 1.5rem!important;
    }
    select {
      border-radius: 0;
      height: 3rem;
      background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #00000029;
        border-radius: 5px;
        opacity: .5;
      
    }

    .opc {
        opacity: 0.6;
        font-size: 16px;
    }

    .btn {
        border-radius: 5px;
        padding: .3rem 1.8rem;
      }
      .primary {
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
        color: #fff;
        font-size: 1rem;
      
        &:hover {
          color: #fff;
        }
      }

      .second-card {
          margin-bottom: .1rem;
          h1 {
              opacity: .6;
          }
          .image {
              float: left;
              img {
                  object-fit: fill;
                  width: 100%;
                  height: 100%;
              }
          }

          .more-info {
            padding: .3rem 1rem;
          }

          .content {
              p {
                opacity: 0.6;
              }
          }

          .blue-text {
            color: #283C8C;
            opacity: 1 !important;

          }
      }

      .list {
        max-height: 1188.5px;
        overflow-y:auto;
      }
}

@media screen and (max-width: 767px){
    .wrapper {
        .image {
            display: none !important;
        }

        .btn-section {
            text-align: start !important;
        }
    }
}